<ul class="menu">
  {% for item in main_menu %}
    {%
      set classes = [
      item.is_expanded ? 'menu-item--expanded',
      item.is_collapsed ? 'menu-item--collapsed',
      item.in_active_trail ? 'active',
      ]
    %}
    <li{{ item.attributes.addClass(classes) }}>
      <a href="{{ item.url }}">{{ item.title }}</a>
    </li>
  {% endfor %}
</ul>
