<ul class="menu">
  <li class="menu-text">Site Title</li>
  {% for item in main_menu %}
    <li{% if item.active == true %} class="active"{% endif %}><a href="{{ item.href }}">{{ item.text }}</a></li>
  {% endfor %}
</ul>
