<div class="off-canvas-wrapper">
  <div class="off-canvas position-left" id="offCanvas" data-off-canvas>
    {% include 'component-menu~vertical' %}
  </div>

  <div class="off-canvas-content" data-off-canvas-content>
    <!-- Your page content lives here -->
    {% include "module-header" %}

    {% include "module-footer" %}
  </div>
</div>