<button type="button" class="btn btn-primary">Button</button>
<button type="button" class="btn btn-secondary">Alt</button>
<button type="button" class="btn btn-disabled">Disabled</button>
<button type="button" class="btn btn-link">Link</button>

<a class="btn btn-primary">Button</a>
<a class="btn btn-secondary">Alt</a>
<a class="btn btn-disabled">Disabled</a>
<a class="btn btn-link">Link</a>