<ul class="sg-colors">
    <li>
        <span class="sg-swatch" style="background: #1f8dd6;"></span>
        <span class="sg-label">Primary</span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #5bc0de;"></span>
        <span class="sg-label">Alt</span>
    </li>
</ul>

<ul class="sg-colors">
    <li>
        <span class="sg-swatch" style="background: #000;"></span>
        <span class="sg-label">Primary</span>
    </li>
</ul>