<div class="card card-inverse" style="max-width: 500px">
    <img class="card-img" src="http://lorempixel.com/400/200/{{ lorempixel }}/1" alt="Card image" width="100%">
    <div class="card-img-overlay">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
</div>