<div class="card" style="max-width: 500px">
    <img class="card-img-top" src="http://lorempixel.com/400/200/{{ lorempixel }}/1" alt="Card image cap"  width="100%">
    <div class="card-block">
        <h4 class="card-title">{{ headline.medium }}</h4>
        <p class="card-text">{{ excerpt.short }}</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>