<div class="container" style="border: 1px solid red;">
    <div class="content">
        {% include "atoms-typography" %}
    </div>
    <aside>
        {% include "organisms-card" %}
    </aside>
</div>