<div class="off-canvas position-left" id="offCanvas" data-off-canvas>

    <!-- Close button -->
    <button class="close-button" aria-label="Close menu" type="button" data-close>
        <span aria-hidden="true">&times;</span>
    </button>

    {% include "component-menu~vertical" %}

</div>

<div class="off-canvas-content" data-off-canvas-content>
    <button type="button" class="button" data-toggle="offCanvasLeft">Open Menu</button>

    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus viverra eget est a ornare. Nullam enim lorem, accumsan non dolor quis, sollicitudin blandit sapien. Vivamus in tellus et elit mollis sollicitudin ut quis ipsum. Donec aliquet venenatis metus, ac placerat massa feugiat eu. Duis ac semper leo, sed varius diam. Proin ac mi accumsan, fermentum massa sit amet, placerat nibh. Quisque pellentesque eu mauris a luctus. Pellentesque semper ligula id libero ultricies, vel placerat turpis pulvinar. Pellentesque venenatis id ipsum at blandit. Nam turpis odio, laoreet non nunc quis, elementum varius nulla. Aenean posuere rhoncus enim, vel dictum massa mollis ut.

    Nulla facilisi. Quisque at ultrices lacus. Aenean orci ex, pulvinar a ex at, porta elementum enim. Proin ultricies quam et augue porta scelerisque. Duis et scelerisque tortor. Curabitur dignissim consequat lectus sit amet tincidunt. Sed mattis turpis sed luctus semper. Proin ac enim et lectus fermentum tincidunt. Etiam dignissim justo odio, at varius dui ornare vitae. Nulla vestibulum justo non dapibus pretium. Donec vitae leo turpis. Pellentesque facilisis rhoncus lorem, non laoreet sapien placerat efficitur.

    Pellentesque at lectus augue. In a turpis non risus convallis convallis. Quisque vel gravida nibh. Integer vel malesuada lorem. Mauris odio ex, laoreet sed posuere non, ornare non mi. Donec a sagittis elit. Fusce pharetra pellentesque blandit. Phasellus euismod nunc eu tincidunt venenatis. In porttitor feugiat semper. Quisque risus turpis, semper at congue at, tristique vehicula erat. Vestibulum in purus condimentum, lobortis mauris eget, luctus libero. Proin eros tellus, suscipit et mauris quis, consequat malesuada libero. Maecenas dapibus metus id volutpat fringilla. Donec id neque tincidunt, laoreet felis eget, tincidunt erat.

    Nulla congue massa aliquet mattis sollicitudin. Sed pharetra mi nec aliquet fermentum. Aenean non lacinia ipsum. Sed et dolor sagittis tellus ultrices sagittis sit amet et massa. Integer lorem dui, tincidunt molestie ligula non, tempus rhoncus ante. Maecenas euismod fermentum mattis. Suspendisse ut ante dolor. Praesent vel mattis quam. Fusce sed auctor velit. In elementum sed est viverra ultricies. Praesent scelerisque id turpis at posuere. Vivamus ornare ullamcorper purus sit amet vestibulum. Aliquam malesuada vulputate malesuada.

    Nam ornare augue nisl, eget faucibus odio congue id. Sed lacinia accumsan volutpat. Etiam dignissim eu elit eu tincidunt. Mauris a sagittis purus. Praesent dapibus porttitor commodo. Etiam non dolor mi. Fusce lacinia efficitur enim non vehicula. Aenean quam diam, finibus ac sodales sed, faucibus a lectus. Cras ipsum nibh, vehicula non pretium non, tempus non arcu. Duis vitae tristique massa, id scelerisque sem. Praesent ultrices in ex at congue. Etiam vitae ullamcorper risus, gravida pretium leo. Aenean tristique erat sed fermentum feugiat. Duis purus diam, pellentesque in varius sed, tristique non quam. Suspendisse sed sem ante. Quisque nibh tortor, commodo eget sem varius, imperdiet accumsan nisi.
</div>
