table {
  border: 1px solid #cbcbcb;

  thead {
    background-color: #e0e0e0;
    color: #000;
    text-align: left;
    vertical-align: bottom;
  }

  th, td {
    padding: 0.5em 1em;
  }

  &.striped {

    thead {
      background-color: transparent;
    }

    tr:nth-of-type(odd) {
      background-color: rgba(0,0,0,.05);
    }
  }
}