<div class="card" style="width: 300px;">
  <div class="card-divider">
     This is a header
  </div>
  <img src="{{ img.landscape_4x3.src }}" alt="{{ img.landscape_4x3.alt }}">
  <div class="card-section">
    <h4>{{ headline.medium }}</h4>
    <p>{{ excerpt.short }}</p>
  </div>
</div>
