<div class="card" style="width: 300px;">
    <div class="card-divider">
        This is a header
    </div>
    <img src="http://lorempixel.com/400/200/{{ lorempixel }}/1">
    <div class="card-section">
        <h4>{{ headline.medium }}</h4>
        <p>{{ excerpt.short }}</p>
    </div>
</div>
