<div class="card">
  {% if title %}
  <div class="card-divider">
    <h2>{{ title }}</h2>
  </div>
  {% endif %}
    {{ image }}
  {% if body %}
  <div class="card-section">
    {{ body }}
  </div>
  {% endif %}
</div>
