<div class="card" style="width: 300px;">
  <div class="card-divider">
     <h4>I'm featured</h4>
  </div>
  <img src="{{ img.landscape_4x3.src }}" alt="{{ img.landscape_4x3.alt }}">
  <div class="card-section">
    <p>This card makes use of the card-divider element.</p>
  </div>
</div>
