<!-- image has no padding -->
<div class="card">
    <img src="assets/img/generic/rectangle-1.jpg">
    <div class="card-section">
        <p>This is a simple card with an image.</p>
    </div>
</div>

<!-- image has padding -->
<div class="card">
    <div class="card-section">
        <img src="assets/img/generic/rectangle-1.jpg">
    </div>
    <div class="card-section">
        <p>This is a simple card with an image inside a `.card-section`.</p>
    </div>
</div>

<div class="card">
    <div class="card-section">
        <p>Images work just fine below the content too!</p>
    </div>
    <img src="assets/img/generic/rectangle-1.jpg">
</div>
