<ul class="accordion" data-accordion="zaqwtt-accordion" role="tablist">
    <li class="accordion-item is-active" data-accordion-item="">
        <a href="#" class="accordion-title" aria-controls="lrreo1-accordion" role="tab" id="lrreo1-accordion-label" aria-expanded="true" aria-selected="true">Accordion 1</a>
        <div class="accordion-content" data-tab-content="" role="tabpanel" aria-labelledby="lrreo1-accordion-label" aria-hidden="false" id="lrreo1-accordion" style="display: block;">
            <p>Panel 1. Lorem ipsum dolor</p>
            <a href="#">Nowhere to Go</a>
        </div>
    </li>
    <li class="accordion-item" data-accordion-item="">
        <a href="#" class="accordion-title" aria-controls="cj92xb-accordion" role="tab" id="cj92xb-accordion-label" aria-expanded="false" aria-selected="false">Accordion 2</a>
        <div class="accordion-content" data-tab-content="" role="tabpanel" aria-labelledby="cj92xb-accordion-label" aria-hidden="true" id="cj92xb-accordion" style="display: none;">
            <textarea></textarea>
            <button class="button">I do nothing!</button>
        </div>
    </li>
    <li class="accordion-item" data-accordion-item="">
        <a href="#" class="accordion-title" aria-controls="0a4so0-accordion" role="tab" id="0a4so0-accordion-label" aria-expanded="false" aria-selected="false">Accordion 3</a>
        <div class="accordion-content" data-tab-content="" role="tabpanel" aria-labelledby="0a4so0-accordion-label" aria-hidden="true" id="0a4so0-accordion">
            Pick a date!
            <input type="date">
        </div>
    </li>
</ul>
