<ul class="accordion" data-accordion="xr22uz-accordion" data-multi-expand="true" role="tablist">
    <li class="accordion-item is-active" data-accordion-item="">
        <a href="#" class="accordion-title" aria-controls="h12in5-accordion" role="tab" id="h12in5-accordion-label" aria-expanded="true" aria-selected="true">Accordion 1</a>
        <div class="accordion-content" data-tab-content="" role="tabpanel" aria-labelledby="h12in5-accordion-label" aria-hidden="false" id="h12in5-accordion" style="display: block;">
            Panel 1. Lorem ipsum dolor
        </div>
    </li>
    <li class="accordion-item" data-accordion-item="">
        <a href="#" class="accordion-title" aria-controls="4vnpfw-accordion" role="tab" id="4vnpfw-accordion-label" aria-expanded="false" aria-selected="false">Accordion 2</a>
        <div class="accordion-content" data-tab-content="" role="tabpanel" aria-labelledby="4vnpfw-accordion-label" aria-hidden="true" id="4vnpfw-accordion">
            Panel 2. Lorem ipsum dolor
        </div>
    </li>
    <li class="accordion-item" data-accordion-item="">
        <a href="#" class="accordion-title" aria-controls="6zv2nc-accordion" role="tab" id="6zv2nc-accordion-label" aria-expanded="false" aria-selected="false">Accordion 3</a>
        <div class="accordion-content" data-tab-content="" role="tabpanel" aria-labelledby="6zv2nc-accordion-label" aria-hidden="true" id="6zv2nc-accordion">
            Panel 3. Lorem ipsum dolor
        </div>
    </li>
</ul>
