<ul class="accordion" data-accordion="6jgafm-accordion" data-allow-all-closed="true" role="tablist">
    <li class="accordion-item" data-accordion-item="">
        <a href="#" class="accordion-title" aria-controls="0hgfo4-accordion" role="tab" id="0hgfo4-accordion-label" aria-expanded="false" aria-selected="false">Accordion 1</a>
        <div class="accordion-content" data-tab-content="" role="tabpanel" aria-labelledby="0hgfo4-accordion-label" aria-hidden="true" id="0hgfo4-accordion" style="display: none;">
            Panel 1. Lorem ipsum dolor
        </div>
    </li>
    <li class="accordion-item" data-accordion-item="">
        <a href="#" class="accordion-title" aria-controls="n8qusa-accordion" role="tab" id="n8qusa-accordion-label" aria-expanded="false" aria-selected="false">Accordion 2</a>
        <div class="accordion-content" data-tab-content="" role="tabpanel" aria-labelledby="n8qusa-accordion-label" aria-hidden="true" id="n8qusa-accordion">
            Panel 2. Lorem ipsum dolor
        </div>
    </li>
    <li class="accordion-item" data-accordion-item="">
        <a href="#" class="accordion-title" aria-controls="5d7rby-accordion" role="tab" id="5d7rby-accordion-label" aria-expanded="false" aria-selected="false">Accordion 3</a>
        <div class="accordion-content" data-tab-content="" role="tabpanel" aria-labelledby="5d7rby-accordion-label" aria-hidden="true" id="5d7rby-accordion">
            Panel 3. Lorem ipsum dolor
        </div>
    </li>
</ul>
